header {
  text-align: center;
}
a {
  margin: 15px;
}

a:hover {
  margin: 15px;
  text-decoration: none;
}
.red {
  background-color: red;
}
.bottom-margin {
  margin-bottom: 10px;
}

.backdrop {
  background-color: #eeeeee;
}
