/*ALL*/
a:hover {
  text-decoration: none;
}
/*index*/
h1#index-logo {
  margin-top: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}
nav a {
  margin: 10px;
}
/*div.container {
  border: 2px solid black;
}*/

main {
    padding: 8vmin;
}
/*home.html*/
.search-bar {
  float: right;
  display: inline;
  clear: both;
  width: 30%;
}
.search-bar h3 {
  float: left;
}
form {
  display: inline;
}
aside {
  display: inline;
}
input.textbox-border {
  border: 1px solid grey;
  position: x(4)y(-5);
}
button {
  background: #999999;
  color: white;
  border: 1px solid grey;
}

@media only screen and (max-width: 330px) {
    .search-bar {
      display: block;
      position: absolute;
    }
}
div#products {
  clear: both;

}
#cart-sprite {
background-image: url("/images/Shopping-Cart-Icons.jpg");
background-repeat: no-repeat;
height: 60px;
width: 60px;
position: 0 -26;
}
