header {
  text-align: center;
}
a {
  margin: 15px;
  color: #afafaf
}
a:hover {
  margin: 15px;
  text-decoration: none;
}
.red {
  background-color: red;
}
.bottom-margin {
  margin-bottom: 10px;
}
.backdrop {
  background-color: #eeeeee;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  font-family: monospace;
  font-weight: 700;
}
.jumbotron {
  background-image: url("http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png");
}
.gliphicon-search {
  background-color: red;
}
