<div>
  <p>
    this is a p tag
  </p>
  <!-- <h2>{{product.name}}</h2>
  <h5>{{product.price | currency}}</h5>
  <p>{{product.description}}</p>
  <form ng-submit="storeCtrl.addToCart(product._id, store.quantityAtShopIndex[$index])">
    <label for="quantity">Quantity</label>
    <select name="quantity" ng-model="store.quantityAtShopIndex[$index]">
      <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
    </select>
    <input type='submit' value="Add to Cart">
  </form> -->
</div>
