<h3> CART </h3>

<div id="cart">
  <h4>Total ({{storeCtrl.cart.length}} {{storeCtrl.cart.length === 1? "item" : "items"}}):
    {{storeCtrl.getCartValue() | currency}}</h4>

  <div ng-repeat="orderItem in storeCtrl.cart">
    <h5>{{orderItem.product.name}}</h5>
    <p>Price: {{orderItem.product.price | currency}}</p>
    <p>Quantity: {{orderItem.quantity}}</p>
    <div ng-if="authCtrl.user">
      <form ng-submit="storeCtrl.updateCart(storeCtrl.quantityAtCartIndex[$index],$index)">
        <label for="quantity">Quantity</label>
        <select name="quantity" ng-model="storeCtrl.quantityAtCartIndex[$index]">
          <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
        </select>
        <input type='submit' value="Update Cart">
      </form>
      <form ng-submit="storeCtrl.deleteFromCart($index)">
        <input type="submit" value="Delete from cart">
      </form>
    </div>
  </div>


  <form ng-submit="storeCtrl.placeOrder(storeCtrl.cart,authCtrl.user)" ng-show="storeCtrl.cart.length">
    <input type="submit" value="Place Order">
  </form>
</div>
