
<h3> Shop! </h3>
<div class="search-bar col-md-6">
<form>
  <input ng-model="storeCtrl.searchStr" ng-change="storeCtrl.getProducts(storeCtrl.searchStr)" class="textbox-border col-sm-10 col-sm-offset-2" type="textbox" name="search" placeholder="Search">
  <hr>
</form>
</div>
<section class="col-sm-12">
  <div ng-repeat="product in storeCtrl.all">
    <div id="products" class="col-sm-2 col-sm-offset-2">
      <h4>{{product.name}}</h4>
      <h5>{{product.price | currency}}</h5>
      <p>{{product.description}}</p>
      <div ng-if="authCtrl.user">
        <form ng-submit="storeCtrl.addToCart(product._id, storeCtrl.quantityAtShopIndex[$index],$index)">
          <label for="quantity">Quantity</label>
          <select name="quantity" ng-model="storeCtrl.quantityAtShopIndex[$index]">
            <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
          </select>
          <input type='submit' value="Add to Cart">
        </form>
      </div>
    </div>
  </div>
</section>
