<h3> Shop! </h3>
<section id="products">
  <div ng-repeat="product in storeCtrl.all">
    <div>
      <h2>{{product.name}}</h2>
      <h5>{{product.price | currency}}</h5>
      <p>{{product.description}}</p>

      <div ng-if="authCtrl.user">
        <form ng-submit="storeCtrl.addToCart(product._id, storeCtrl.quantityAtShopIndex[$index],$index)">
          <label for="quantity">Quantity</label>
          <select name="quantity" ng-model="storeCtrl.quantityAtShopIndex[$index]">
            <option ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]" value="{{num}}">{{num}}</option>
          </select>
          <input type='submit' value="Add to Cart">
        </form>
      </div>


    </div>
    <hr>
  </div>
</section>
