<div class="container">
  <form ng-submit="authCtrl.passwordReset(password)" class="login-form">
    <div class="form-group">
      <div class="row">
        <label for="password" class="col-sm-3 col-sm-offset-3">New password</label>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-5 col-sm-offset-3">
          <input ng-model="password.password" type="password" name="password" placeholder="password">
        </div>
      </div>
      <div class="row">
        <label for="passwordConfirm" class="col-sm-3 col-sm-offset-3">Confirm Password</label>
      </div>
      <div class="row bottom-margin">
        <div class="col-sm-5 col-sm-offset-3">
          <input ng-model="password.passwordConfirm" type="password" name="passwordConfirm" placeholder="confirm password">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-offset-5">
            <button type="submit" class="btn btn-primary btn-lg">Update!</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
